
.float{
    position: fixed;
    width: 75px;
    height: 75px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: -webkit-xxx-large;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float{
	margin-top:16px;
}